.git
.github
.DS_Store
.vscode
**/.idea
**/.dart_tool
**/build
**/coverage
**/node_modules
backend/vendor
backend/storage/logs/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/.env
frontend/.env
signaling-server/node_modules
setup_full.log
setup_local_macos.log
migrate_v21.log
